.navbar{
    position: fixed;
    top: 10px;
    left: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    height: 40px;
    background-color: #007bffe3;
    color: white;
    border-radius: 8px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul li {
    padding: 0 20px;
    justify-content: space-between;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar ul li a.active-link {
    color: rgba(253, 20, 20, 0.845); /* Highlight active link */
}

@media (max-width:550px) {
    .navbar ul li{
        padding: 8px;
    }
}
