#mydiv{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 5px;
    color: black;
    font-family: 'Times New Roman', Times, serif; 
    background-color: #1a9892;
}

#title{
    margin-bottom: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    justify-self: unset;
    font-size: 34px;
    text-decoration: underline;
}

#names{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

#input{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#input input{
    padding: 3px;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 16px;
    min-width: 150px;
    color: black;
    background-color: beige;
}

#input button{
    padding: 3px;
    margin: 2px;
    border-radius: 5px;
    background-color: #c7c8c8fa;
}